.Products__goods_container__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 10px;
}

.Products__goods_container__item a {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1F2024;
}

.Products__goods_container__item:nth-child(5n+1) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.Products__goods_container__item:nth-child(-n+5) {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.Products__goods_container__item:hover {
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    transition: 0.3s ease-out;
}


.Products__goods_container__item img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 200px;
    width: 200px;
}

.Products__goods_container__item img:hover  {
    scale: 1.1;
    transition: 0.5s ease-out;
}

.Products__goods_container__item button {
    width: 230px;
    flex-basis: 40px;
}

.Products__goods_container__item p {
    text-align: center;
}

.Products__goods_container__item__title {
    height: 50px;
}