@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

body {
    /*background-color: #F9FAFC;*/
    background-color: white;
    font-family: 'Rubik', sans-serif;
}

.App-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 30px 80px 50px auto;
    grid-template-areas:    "header-top header-top"
                            "header-middle header-middle"
                            "nav nav"
                            "content content";
    height: 100vh;
}


.white-link:visited,
.white-link:link {
    color: white;
}

.orange-hover:hover {
    color: #fcbe00;
    transition: 0.5s ease-out;
}

.thin-hr {
    height: 50%;
    margin: 0 1px 0 0;
    border-width: thin;
    color: white;
    opacity: 0.15;
    align-self: center;
}


.opacity7{
    opacity: .7;
}

.font-weight5 {
    font-weight: 500;
}

@keyframes opacity-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.orange-button {
    border: none;
    background-color: #fcbe00;
    cursor: pointer;
}

.orange-button:hover {
    background-color: white;
    border: 1px solid lightgrey;
    transition: 0.3s;
}